/*
TSOS - darkmono.css (2022-04-18)
basic dark/monospace theme
made by tyminator
VCR OSD MONO font made by Riciery Leal
*/

@font-face{
	font-family: vcr;
	src: url("assets/VCR_OSD_MONO_1.001.ttf");
}

body{
	background-color: black;
	color: white;
	font-family: vcr, monospace;
	text-align: center;
}

a:link{color: #4d4dff}
a:visited{color: #ad4dff}
